@import "./variables.scss";
@import "./breakpoint.scss";

$header-logo-height: 40px;
$header-nav-height: 40px;
$header-height: $header-logo-height + $header-nav-height;

main {
  padding-top: $header-height;
}

.portfolio-header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: $header-height;
  text-align: center;
  background-color: $brand-color;
  color: #fff;
  font-size: 16px;
}

.portfolio-logo {
  height: $header-logo-height;
  line-height: $header-logo-height;
}

.portfolio-nav {
  height: $header-nav-height;
  line-height: $header-nav-height;
  background-color: #fff;
  border-bottom: 1px solid $brand-color;
  color: $brand-color;

  ul {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: center;

    @include md {
      width: map-get($breakpoints, medium);
    }
  }

  li {
    width: 33.33%;
    height: 100%;
    line-height: $header-nav-height;
    list-style-type: none;
  }

  a:visited {
    color: $brand-color;
  }
}

.profile-image {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}
